.toutelesactivites
{
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
}
.bvieuxport, .bcalanques 
{
  width: 23%;
  height: 35em;
  border-radius: 3%;
  box-shadow:  0 0 1em #f2f2f2, 0 0 1em #f2f2f2;
}
.bvieuxport h2, .bcalanques  h2
{
  height: 2%;
}
.vport, .calanques
{
  width: 100%;
  height: 92%;
  object-fit: cover;
  border-radius: 3% 3% 0 0;
}
.bfortetiles, .blagardeetlongchamp
{
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 23%;
  height: 35em;
}

.ilesdufrioul
{
  display: flex;
  flex-direction: column;
  /*height: 11em;*/
  width: 100%; 
  border-radius: 3%;
  box-shadow:  0 0 1em #f2f2f2, 0 0 1em #f2f2f2;
}
.fortdepomegues
{
  display: flex;
  flex-direction: column;
  height: 17em;
  width: 100%; 
  border-radius: 3%;
  box-shadow:  0 0 1em #f2f2f2, 0 0 1em #f2f2f2;
}

.pomegues
{
  height: 14em;
  width:100%;
  object-fit: cover;
  border-radius: 3% 3% 0 0;
}
.frioul
{
  height: 83%;
  width: 100%;
  object-fit: cover;
  border-radius: 3% 3% 0 0;
}
.notredamedelagarde
{
  display: flex;
  flex-direction: column;
  /*height: 48%;*/
  width: 100%; 
  border-radius: 3%;
  box-shadow:  0 0 1em #f2f2f2, 0 0 1em #f2f2f2;
}
.parclongchamp
{
  display: flex;
  flex-direction: column;
  height: 45%;
  width: 100%; 
  border-radius: 3%;
  box-shadow:  0 0 1em #f2f2f2, 0 0 1em #f2f2f2;
}
.lagarde
{
  height: 80%;
  width: 100%;
  object-fit: cover;
  border-radius: 3% 3% 0 0;
}
.longchamps
{
  height: 64%;
  width: 100%;
  object-fit: cover;
  border-radius: 3% 3% 0 0;
}
.toutelesactivites a
{
  text-decoration: none;
}
#activites h1
{
  font-size: 1.3em;
  margin-top: 3%;
}
#activites h2
{
  font-size: 0.8em;
  font-weight:900;
  padding-left: 2%;
  border-radius: 0 0 3% 3%;
}
@media screen and (max-width: 375px)
{
  #activites
  {
    width:98%;
    margin-left: auto;
    margin-right: auto;
  }
  .toutelesactivites
  {
    justify-content: center;
    width:100%;
    margin-left: auto;
    margin-right: auto;
  }
  #activites h1
  {
    font-size: 1.2em;
    font-weight: 900;
    margin-left: 3%;
  }
  .bvieuxport, .bcalanques 
  {
  width: 94%;
  height: 15em;
  border-radius: 20px;
  box-shadow:  0 0 1em #cfcccc, 0 0 1em #f2f2f2;
  margin-bottom: 2%; 
  }
  #activites h2
  {
    width: 100%;
    height:1em;
    font-size:1em;
    font-weight:900;
    padding-left: 2%;
    border-radius: 0 0 3% 3%;
  }
  .bfortetiles, .blagardeetlongchamp
  {
  display: flex;
  flex-direction: column;
  justify-content:space-around;
  width: 94%;
  height: 33em;
  }
  .fortdepomegues, .ilesdufrioul, .notredamedelagarde, .parclongchamp
  {
  /*width: 97%;*/
  height: 15em;
  border-radius: 20px;
  box-shadow:  0 0 1em #cfcccc, 0 0 1em #f2f2f2;
  }
  .vport, .calanques, .pomegues, .frioul, .lagarde, .longchamps
  {
  width: 100%;
  height:12em;
  object-fit: cover;
  border-radius: 4% 4% 0 0;
  }
}
/*@media screen and (max-width: 992px)
{
  #activites h1
  {
    font-size: 1.2em;
    font-weight: 900;
  }
  .toutelesactivites
  {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
  }
  .bvieuxport, .bcalanques 
  {
    width: 28%;
    height: 15em;
    border-radius: 3%;
    box-shadow:  0 0 1em #f2f2f2, 0 0 1em #f2f2f2;
  }
  .bvieuxport h2, .bcalanques  h2
  {
    height: 4%;
  }
  #activites h2
  {
    font-size: 1em;
    font-weight:900;
    padding-left: 2%;
    border-radius: 0 0 3% 3%;
  }
  .vport, .calanques
  {
    height: 82%;
    object-fit: cover;
    border-radius: 3% 3% 0 0;
  }
  .bfortetiles, .blagardeetlongchamp
  {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 70%;
    height: 15em;
  }
  .ilesdufrioul
  {
    display: flex;
    flex-direction: column;
    height: 15em;
    margin-right: 2%;
    width: 100%; 
    border-radius: 3%;
    box-shadow:  0 0 1em #f2f2f2, 0 0 1em #f2f2f2;
  }
  .fortdepomegues
  {
    display: flex;
    flex-direction: column;
    height: 5em;
    margin-right: 2%;
    margin-left: 3%;
    width: 100%; 
    border-radius: 3%;
    box-shadow:  0 0 1em #f2f2f2, 0 0 1em #f2f2f2;
  }
  .pomegues
  {
    height: 80%;
    width:100%;
    object-fit: cover;
    border-radius: 3% 3% 0 0;
  }
  .frioul
  {
    height: 80%;
    width: 100%;
    object-fit: cover;
    border-radius: 3% 3% 0 0;
  }
}
@media screen and (max-width: 992px)
{
  #activites
  {
    height: 28em;
  }
  #activites .toutelesactivites
  {
    width:98%;
    height: 95%;
    flex-wrap: nowrap;
    margin-left: auto;
    margin-right: auto;
  }
  .toutelesactivites .bvieuxport, .toutelesactivites .bcalanques
  {
    width:22%;
    height: 26em;
  }
  .bvieuxport .vport, .bcalanques .calanques
  {
    height:89%;
  }
  .toutelesactivites .bfortetiles, .toutelesactivites .blagardeetlongchamp
  {
    width:22%;
    height: 26em;
    flex-direction: column;
    justify-content: space-between;
  }
  .bfortetiles .fortdepomegues
  {
    width:100%;
    height: 12em;
    margin-left: 0%;
    margin-right: 0%;
  }
  .bfortetiles .ilesdufrioul
  {
    width:100%;
    height:12em;
  }
  .fortdepomegues .pomegues
  {
    width: 100%;
    height:9.5em;
  }
  .ilesdufrioul .frioul
  {
    width: 100%;
    height:9.5em;
  }
  #activites .toutelesactivites h2
  {
    font-size: 0.7em;
  }
  .toutelesactivites .blagardeetlongchamp .notredamedelagarde, .blagardeetlongchamp .parclongchamp
  {
    width:100%;
    height: 12em;
  }
  .blagardeetlongchamp .notredamedelagarde .lagarde
  {
    width:100%;
    height:9.5em;
  }
  .blagardeetlongchamp .parclongchamp .longchamps
  {
    width:100%;
    height: 9.5em;
  }
}*/