.toutelesactivites
{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  height:98vh;
}
.toutelesactivites .bvieuxport, .toutelesactivites .bcalanques 
{
  width: 23%;
  height: 90vh;
  border-radius: 3%;
  box-shadow:  0 0 1em #f2f2f2, 0 0 1em #f2f2f2;
}
.bvieuxport .vport, .bcalanques .calanques
{
  width: 100%;
  height: 92%;
  object-fit: cover;
  border-radius: 3% 3% 0 0;
}
.toutelesactivites .bfortetiles, .toutelesactivites .blagardeetlongchamp
{
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 23%;
  height:90vh;

}
.bfortetiles .fortdepomegues
{
  display: flex;
  flex-direction: column;
  height: 45vh;
  width: 100%; 
  border-radius: 3%;
  box-shadow:  0 0 1em #f2f2f2, 0 0 1em #f2f2f2;
}
.bfortetiles .fortdepomegues .pomegues
{
  /*height:80%;*/
  width:100%;
  object-fit: cover;
  border-radius: 3% 3% 0 0;
}

.bfortetiles .ilesdufrioul
{
  display: flex;
  flex-direction: column;
  width: 100%;
  height:40%; 
  border-radius: 3%;
  box-shadow:  0 0 1em #f2f2f2, 0 0 1em #f2f2f2;
}

.bfortetiles .ilesdufrioul .frioul
{
  height: 70.5%;
  width: 100%;
  object-fit: cover;
  border-radius: 3% 3% 0 0;
}
.blagardeetlongchamp .notredamedelagarde,.blagardeetlongchamp .parclongchamp
{
  display: flex;
  flex-direction: column;
  height: 43vh;
  width: 100%; 
  border-radius: 3%;
  box-shadow:  0 0 1em #f2f2f2, 0 0 1em #f2f2f2;
}

.blagardeetlongchamp .notredamedelagarde .lagarde
{
  height: 92%;
  width: 100%;
  object-fit: cover;
  border-radius: 3% 3% 0 0;
}
.blagardeetlongchamp .parclongchamp .longchamps
{
  height: 92%;
  width: 100%;
  object-fit: cover;
  border-radius: 3% 3% 0 0;
}
.toutelesactivites a
{
  text-decoration: none;
}
#activites h1
{
  font-size: 1.3em;
  margin-top: 3%;
}
#activites .toutelesactivites h2
{
  font-size: 0.8em;
  font-weight:900;
  height:3.5em;
  padding-left: 2%;
  border-radius: 0 0 3% 3%;
}
@media screen and (max-width: 365px)
{
  #activites .toutelesactivites
    {
        display: flex;
        flex-direction: column;
        width:99%;
        height:95%;
        margin-left: auto;
        margin-right: auto;
    }
  #activites h1
  {
    font-size: 1.2em;
    font-weight: 900;
    margin-left: 3%;
  }
  #activites .toutelesactivites .bvieuxport, #activites .toutelesactivites .bcalanques 
  {
  width: 99%;
  height: 16%;/*100%/6box*/
  border-radius: 20px;
  box-shadow:  0 0 1em #cfcccc, 0 0 1em #f2f2f2;
  margin-bottom: 3%; 
  }
  .bvieuxport .vport, .bcalanques .calanques
  {
  width:100%;
  height:80%;
  }
  .bvieuxport h2, .bcalanques h2
  {
    width: 100%;
    /*height:3.5em;*/
    font-size:1em;
    font-weight:900;
    padding-left: 2%;
    border-radius: 0 0 3% 3%;
  }
  .toutelesactivites .bfortetiles, .toutelesactivites .blagardeetlongchamp
  {
    /*display: flex;
    flex-direction: column;*/
    height: 32%;
    width: 100%; 
    /*border-radius: 3%;
    box-shadow:  0 0 1em #f2f2f2, 0 0 1em #f2f2f2;*/
  }
  .bfortetiles .fortdepomegues
  {
    height:45%;
  }
  .bfortetiles .ilesdufrioul
  {
    height:45%;
  }
  #activites .toutelesactivites h2
  {
    height:3%;
  }
  /*.toutelesactivites .bfortetiles, .toutelesactivites .blagardeetlongchamp
  {
  display: flex;
  flex-direction: column;
  justify-content:space-between;
  width: 99%;
  height: 32%;
  margin-bottom: 2%;
  }
  .toutelesactivites .bfortetiles .fortdepomegues, .ilesdufrioul, .notredamedelagarde, .parclongchamp
  {
  width: 99%;
  height: 16%;
  border-radius: 20px;
  box-shadow:  0 0 1em #cfcccc, 0 0 1em #f2f2f2;
  margin-bottom: 2%;
  }  
  .bfortetiles .fortdepomegues .pomegues
  {
  width:100%;
  height:26%;
  border-radius: 4% 4% 0 0;
  }*/
}
