.noshebergements,.assistance
{
    margin-left: 28%;
}
footer h2
{
    font-size:1em;
    font-weight: 600;
}
footer h3
{
    font-size:0.8em;
    font-weight: 400;
}
@media screen and (max-width: 365px)
{
    .noshebergements,.assistance
    {
    margin-left: 0%;
    }
    footer h2
    {
    font-size:1.2em;
    font-weight: 600;
    }
    footer h3
    {
    font-size:0.9em;
    font-weight: 500;
    }
}
@media screen and (max-width:750px) 
{
    
}
@media screen and (min-width:750px) and (max-width:1390px)
{
    
}
@media screen and (min-width:750px)
{
    
}
@media screen and (min-width:1390px)
{
    
}