/*logo Reservia et menu en ligne*/
header img
{
    width: 10%;
    padding-left: 1%;
}
.menu
{
    width:30%;
    
}
.menu ul
{
    display:flex;
    flex-direction: row;
    justify-content: space-between;
    list-style-type: none;
    font-size: 0.9em;
    font-weight: 600;
}
nav li a
{
    text-decoration: none;
}
.menu ul
{
    color:blue;
}
@media screen and (max-width: 688px)
{   
    header img
    {
        margin-top: 2%;
        width:15%;
        padding-left: 0%;
        margin-right: auto;
        margin-left: auto;

    }
    header .menu
    {
        width:95%;
        padding-left: 0.5%;
        /*margin-left: auto;
        margin-right: auto;*/
    }
    .menu ul
    {
        font-size: 1em;
        font-weight: 600;
        justify-content:unset;
        padding-left: 0px; 
    }
    .menu ul li a
    {
        margin-right: 10.8em;
    }
    .menu ul li :nth-last-child(3)
    {
        padding-right: 10em;
    }
}
@media screen and (min-width: 689px) and (max-width: 992px)
{
    header img
    {
        width:15%;

    }
    header .menu
    {
        width:50%;
    }
    header nav ul
    {
    padding-right: 2%;
    }
}