/*mise en forme bloc hébergements à Marseille*/
#hebergements
{
    background-color: #f2f2f2;
    display: flex; 
    flex-direction: column;
    border-radius: 20px;
    padding: 1.5%;
    margin-right: 1%;
    width: 66%;
}
#hebergements h1
{
    font-size: 2.5em;
}

/*en ligne tous les blocs hotel avec retour à la ligne*/
#hebergements .les_hotels
{
display: flex;
flex-direction: row;
flex-wrap: wrap;
justify-content: space-between;
}
.aubergelacannebiere, .hotelduport, .hotellesmouettes, .hoteldelamer, .aubergelepanier, .hotelchezamina
{
    display: flex;
    flex-direction: column;
    width: 30%;
    height: 31.3em;
    background-color: white;
    border-radius: 20px;
    border:solid 10px white;
    margin-bottom: 3%;
}
/*marge intérieure bloc nomprixetnote*/
/*dimension bloc nomprixetnote*/
.les_hotels .nometprixetnote
{
    padding-left: 2%;
}
.les_hotels .nometprixetnote .color-blue
{
    color:#0065fc;
    font-size:1em;
}
.les_hotels .nometprixetnote .grey
{
    color:#f2f2f2;
}

.cannebiere, .port, .mouettes, .mer, .panier, .amina
{
    width: 100%;
    height: 20.6em;
    object-fit: cover;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px; 
}
/*suppression soulignement et couleur lien de chaque hotel*/
.les_hotels a
{
    text-decoration: none;
}
#hebergements .nometprixetnote h2
{
    font-size: 1.8em;
    font-weight:900;
    align-self: flex-start;
    text-decoration: none;
}

#hebergements .nometprixetnote h3
{
    font-size: 1.3em;
    font-weight: 500;
}
#hebergements h2
{
    font-size: 2em;
}
@media screen and (max-width: 688px)
{
    #hebergements
    {
        background-color:white;
        display: flex; 
        flex-direction: column;
        justify-content: space-between;
        width: 99%;
    } 
    #hebergements h1
    {
    font-size: 0.8em;
    }
    .les_hotels
    {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
    }
    .aubergelacannebiere, .hotelduport, .hotellesmouettes, .hoteldelamer, .aubergelepanier, .hotelchezamina
    {
    width: 99%;
    height: 13em;
    border-radius: 20px;
    border:none;
    box-shadow:  0 0 1em #f2f2f2, 0 0 1em #f2f2f2;
    margin-bottom: 3%;
    }
    .cannebiere, .port, .mouettes, .mer, .panier, .amina
    {
    width: 100%;
    height: 7em;
    object-fit: cover;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px; 
    }
    .les_hotels .nometprixetnote
    {
    padding-bottom: 1.5%;
    padding-left: 2%;
    }
    .nometprixetnote i
    {
        font-size:0.8em;
    }
    #hebergements .nometprixetnote h2
    {
    font-size: 0.9em;
    font-weight:700;
    align-self: flex-start;
    text-decoration: none;
    }
    #hebergements .nometprixetnote h3
    {
    font-size: 0.7em;
    font-weight: 500;
    }
    #hebergements h2
    {
    font-size: 1.1em;
    }
}
