
body
{
    margin:0;
    display: flex;
    justify-content: center;
    background-color: white;
    color: black; 
    font-family: raleway;
}
body #bloc_general
{
    margin-left: auto;
    margin-right: auto;
    width: 100%;
    height: 100%;
}
header
{
    width: 98%;
    height: 10%;
    display: flex;
    flex-direction: row;
    align-items: center;   
    justify-content: space-between;
}
#recherche_ville_selection_filtre
{
    display: flex;
    flex-direction: column;
    /*height: 30%;*/
}
#aside_et_hebergements
{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    /*width: 100%;
    height: 38%;*/
}
#activites
{
    width: 98%;
    height: 38%;
    display: flex;
    flex-direction: column;
    margin-bottom: 8%;
    padding-left: 1%;
    padding-right: 1%;
}

footer
{
    background-color: #f2f2f2;
    display: flex;
    flex-direction: row;
    margin-top: 5%;
    padding: 3%;
      
}
@media screen and (max-width:365px) 
{
    #recherche_ville_selection_filtre
    {
    margin-left: 1%;
    }
    #aside_et_hebergements
    {   
        display: flex;
        flex-direction: column-reverse;
        width: 99%;
        margin-left: auto;
        margin-right: auto;
    }
    #activites
    {
    width: 98%;
    display: flex;
    flex-direction: column;
    margin-bottom: 1%;
    padding-left: auto;
    padding-right: auto;
    }
    footer
    {
    display: flex;
    flex-direction: column;
    margin-top: 2%;
    padding: none;     
    }
}
@media screen and (max-width:750px)
{

}
@media screen and (min-width:750px)
{

}
@media screen and (min-width:750px) and (max-width: 1390px)
{
    #aside_et_hebergements
    {
        display: flex;
        flex-direction: column-reverse;
    }
    #activites
    {
        height: 25em;
    }
}
@media screen and (min-width:1390px) 
{
    
}
